@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ------------- General helpers & settings ------------- */

body, button{
    font-family: 'Oswald', sans-serif;
}

body{
    text-align: center;
}

.hide {
    display: none;
}

/* ------------- Header ------------- */

.header{
    margin: 0 auto;
    font-style: italic;
    text-decoration: underline;
}

.header-main{
    display: inline;
}

.header-sub{
    display: block;
    font-style: italic;   
}

.hyphen {
    display: none;
}

/* ------------- Game area ------------- */

.game-container{
    border: 1px solid aquamarine;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.game-container > div {
    width: 33%;
}

/* ------------- Media Queries ------------- */

@media(min-width: 567px){
    .hyphen{
        display: inline;
    }

    .header-sub{
        display: inline;    
    }
}