@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ------------- General helpers & settings ------------- */

body, button{
    font-family: 'Oswald', sans-serif;
}

body{
    text-align: center;
}

.hidden {
    display: none;
}

/* ------------- Header ------------- */

.header{
    margin: 0 auto;
    font-style: italic;
    text-decoration: underline;
}

.header-main{
    display: inline;
}

.header-sub{
    display: block;
    font-style: italic;   
}

.hyphen {
    display: none;
}

/* ------------- Game area ------------- */

.game-container{
    border:4px solid rgb(67, 68, 67);
    border-radius: 5%;
    max-width: 95%;
    max-height: 80vh;
    margin: 1vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-container > img {
    width: 30%;
    max-height: calc(72vh / 3);
    margin: 1.1%;
}

/* ------------- Game styles ------------- */

.speed1000{
    animation-name: shape-active;
    animation-duration: 1000ms;
}

.speed750{
    animation-name: shape-active;
    animation-duration: 750ms;
}

.speed500{
    animation-name: shape-active;
    animation-duration: 500ms;
}

.speed250{
    animation-name: shape-active;
    animation-duration: 250ms;
}

.speed150{
    animation-name: shape-active;
    animation-duration: 150ms;
}

.speed100{
    animation-name: shape-active;
    animation-duration: 100ms;
}

@keyframes shape-active{
    0%   {background-color: white;}
    100%  {background-color: yellow;}   
}


/* ------------- Media Queries ------------- */

@media(min-width: 567px){
    .hyphen{
        display: inline;
    }

    .header-sub{
        display: inline;    
    }

    .game-container{
        max-width: 70%;
    }
}

@media(min-width: 992px){
    .game-container{
        max-width: 50%;
    }
}