@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* ------------- Variables ------------- */

:root {
    --grey: rgb(67, 68, 67);
    --correct: #4AFF0D;
    --active: #F2FF00;
    --background: #fff5ee;
}

/* ------------- General settings ------------- */

body, button {
    font-family: 'Oswald', sans-serif;
}

body {
    text-align: center;
}

/* ------------- Header ------------- */

.header {
    margin: 0 auto;
    font-style: italic;
    text-decoration: underline;
}

.header-main {
    display: inline;
}

.header-sub {
    display: block;
    font-style: italic;
}

.hyphen {
    display: none;
}

/* ------------- Game area ------------- */

#game-container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#game-info, #highscores {
    border: 3px solid var(--grey);
    border-radius: 5%;
}

#highscores {
    border-collapse: collapse;
}

#highscores tr {
    border-bottom: 2px solid var(--grey);
}

#shape-container {
    border: 4px solid var(--grey);
    border-radius: 5%;
    margin: 1vh auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shape {
    width: 25%;
    max-height: calc(66vh / 3);
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
}

.clickableShape:hover {
    border: 5px dotted var(--correct);
    margin: 0px;
    cursor: pointer;
}

/* ------------- Overlay ------------- */

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#results-pane, #play-button, #highscores-pane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#results-pane, #highscores-pane {
    background-color: var(--background);
    display: flex;
    flex-flow: column;
}

.close-button {
    margin-left: auto;
    height: 15px;
    width: 15px;
    z-index: 10;
}

.close-button:hover {
    cursor: pointer;
}

.highlight-score {
    animation: highlight-score ease-in 1000ms;
}

/* ------------- Game styles ------------- */

.speed1 {
    animation: shape-active linear 1000ms;
}

.speed2 {
    animation: shape-active linear 900ms;
}

.speed3 {
    animation: shape-active linear 800ms;
}

.speed4 {
    animation: shape-active linear 700ms;
}

.speed5 {
    animation: shape-active linear 600ms;
}

.speed6 {
    animation: shape-active linear 500ms;
}

.speed7 {
    animation: shape-active linear 400ms;
}

.speed8 {
    animation: shape-active linear 300ms;
}

.speed9 {
    animation: shape-active linear 200ms;
}

.speed10 {
    animation: shape-active linear 100ms;
}

.correct {
    animation-name: shape-correct;
    animation-duration: 400ms;
}

@keyframes shape-correct {
    0% {
        background-color: var(--correct);
    }
    100% {
        background-color: var(--background);
    }
}

@keyframes shape-active {
    0% {
        background-color: var(--background);
    }
    100% {
        background-color: var(--active);
    }
}

@keyframes highlight-score {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------------- General helpers ------------- */

.hidden {
    display: none !important;
}

.game-control {
    background-image: linear-gradient(to bottom right, var(--active), #01FFDE);
    border-radius: 20%;
    border-style: none outset outset none;
    border-width: 2px;
    border-color: #922b94;
    padding: 5px 15px;
    color: #922b94;
    font-weight: 900;
    margin: auto 10px;
}

.game-control:hover {
    cursor: pointer;
    color: #8619FF;
    border-color: #8619FF;
    border-width: 3px;
    margin-left: 9px;
}

/* ------------- Media Queries ------------- */

@media(min-width: 567px) {
    .hyphen {
        display: inline;
    }
    .header-sub {
        display: inline;
    }
    #game-container {
        max-width: 70%;
    }
}

@media(min-width: 992px) {
    #game-container {
        max-width: 50%;
    }
}